body {
    font-family: Arial, Helvetica, sans-serif;
    margin:0px ;
    padding:10px;
}

.form {
    border:1px solid aliceblue ;
    display: flex;
    flex-direction: column;
    padding:10px ;
    background-color: aliceblue;
    width:500px ;
    height:auto;
    border-radius: 10px;
    box-shadow: 0.2px 0.1px;
}
.form header{
    text-align: center;
    padding:5px ;
    background-color:black;
    border-radius: 5px;
    color:white ;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    margin:5px ;
    box-shadow: 0.1px 0.1px;
}

.form header:hover{
    color:white;
    background-color: darkblue;
    cursor: pointer;
}
.form div{
    display: flex;
    flex-direction: column;
    padding:5px ;
    margin-left: 20px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    width: 100%;
}

.form div input{
    width:200px;
    outline: none;
    font-size: 14px;
    padding:4px;
    border:1px solid grey ;
    border-radius: 2px;

}
.error{
    color:red ;
    font-size: 14px;
}
.form div button{
    width: 150px;
    padding:5px ;
    background-color:black;
    color:white ;
    border-radius: 5px;
    box-shadow: 0.2px 0.1px;
    cursor: pointer;
}
.form div button:hover {
    background-color: white;
    color:blue ;
    border:1px solid goldenrod ;
}

